@import "../colors"

a
  text-decoration: none
  color: $black
  font-family: Mulish, sans-serif
  font-weight: 700
  font-size: 15px
  &.link-accent
    color: $primary-light
    text-decoration: underline
    &:hover
      color: $primary-base

body
  background-color: #F4F4F4

h1
  font-family: Mulish, sans-serif
  font-size: 80px
  font-weight: 900
  color: $primary-base
  margin: 0
  font-feature-settings: 'liga' off

h2
  font-family: Mulish, sans-serif
  font-size: 40px
  font-weight: 900
  margin: 0
  color: $primary-base
  span
    color: $primary-light
    &.accent
      color: $accent-base

h4
  font-family: Mulish, sans-serif
  font-weight: 700
  font-size: 24px
  color: $black
  margin: 0

p
  font-family: Lato, sans-serif
  font-weight: 400
  font-size: 18px
  color: $black
  line-height: 28px
  opacity: 60%
  margin: 0

.heading-overhead
  color: $primary-light
  font-family: Mulish, sans-serif
  font-weight: 600
  font-size: 18px
  &::before
    display: inline-block
    content: ''
    width: 55px
    border-top: 3px solid $primary-light
    margin-right: 12px
    transform: translateY(-5px)

.heading-overhead-accent
  color: $accent-base
  &::before
    display: inline-block
    content: ''
    width: 55px
    border-top: 3px solid $accent-base
    margin-right: 12px
    transform: translateY(-5px)