@import "../colors"

.heading-overhead
  color: $primary-light
  font-family: Mulish, sans-serif
  font-weight: 600
  font-size: 18px
  &::before
    display: inline-block
    content: ''
    width: 55px
    border-top: 3px solid #127681
    margin-right: 12px
    transform: translateY(-5px)

.search-label
  font-family: Mulish, sans-serif
  font-weight: 600
  font-size: 18px
  font-style: italic
  color: $accent-base